$color-primary: #b0287a;
$color-primary-tone:#EB35A3;
$color-secondary: #405F77;
$color-cool: #99D448;
$text-color-black: #27353E;
$text-color-grey: #5F5F69;
$header-height: 32px;
$navigation-drawer-width: 120px;
